<?xml version="1.0" encoding="utf-8"?>
<Content Key="e811fcaf-77cf-444c-9727-e2e6b99d8c05" Alias="Test Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestPage</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-01-07T14:11:28</CreateDate>
    <NodeName Default="Test Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="97feefe8-4012-4452-bfaa-c08ff20b1b36">page</Template>
  </Info>
  <Properties>
    <cdDropdown>
      <Value><![CDATA[key]]></Value>
    </cdDropdown>
    <checkbox_showA>
      <Value><![CDATA[]]></Value>
    </checkbox_showA>
    <checkbox_showB>
      <Value><![CDATA[]]></Value>
    </checkbox_showB>
    <dropdown_showA>
      <Value><![CDATA[]]></Value>
    </dropdown_showA>
    <dropdown_showB>
      <Value><![CDATA[]]></Value>
    </dropdown_showB>
    <radio_showA>
      <Value><![CDATA[]]></Value>
    </radio_showA>
    <radio_showB>
      <Value><![CDATA[]]></Value>
    </radio_showB>
  </Properties>
</Content>