<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4391065-76b6-40c0-a181-51354849e4a4" Alias="Test2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test2</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-02-26T21:22:03</CreateDate>
    <NodeName Default="Test2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="97feefe8-4012-4452-bfaa-c08ff20b1b36">page</Template>
  </Info>
  <Properties>
    <cdCheckbox>
      <Value><![CDATA[0]]></Value>
    </cdCheckbox>
    <cdDropdown>
      <Value><![CDATA[dropdown_showA]]></Value>
    </cdDropdown>
    <cdRadio>
      <Value><![CDATA[showA]]></Value>
    </cdRadio>
    <checkbox_showA>
      <Value><![CDATA[]]></Value>
    </checkbox_showA>
    <checkbox_showB>
      <Value><![CDATA[]]></Value>
    </checkbox_showB>
    <dropdown_showA>
      <Value><![CDATA[]]></Value>
    </dropdown_showA>
    <dropdown_showB>
      <Value><![CDATA[]]></Value>
    </dropdown_showB>
    <radio_showA>
      <Value><![CDATA[]]></Value>
    </radio_showA>
    <radio_showB>
      <Value><![CDATA[]]></Value>
    </radio_showB>
  </Properties>
</Content>