<?xml version="1.0" encoding="utf-8"?>
<Content Key="10add861-60b5-4173-a680-79532f48f566" Alias="Test 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test3</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-02-26T22:02:58</CreateDate>
    <NodeName Default="Test 3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="97feefe8-4012-4452-bfaa-c08ff20b1b36">page</Template>
  </Info>
  <Properties>
    <blockGridA>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1c958b9c-5383-412b-a1b5-4c479b7762eb",
      "key": "baa526a8-8e9a-4096-9665-235f8e550c51",
      "values": [
        {
          "alias": "showPropertyA",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "baa526a8-8e9a-4096-9665-235f8e550c51",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "baa526a8-8e9a-4096-9665-235f8e550c51",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockGridA>
    <blockListA>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1c958b9c-5383-412b-a1b5-4c479b7762eb",
      "key": "22c09da6-846f-42c4-96a1-3ae2799ef749",
      "values": [
        {
          "alias": "showPropertyA",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "22c09da6-846f-42c4-96a1-3ae2799ef749",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "22c09da6-846f-42c4-96a1-3ae2799ef749",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockListA>
    <cdCheckbox>
      <Value><![CDATA[0]]></Value>
    </cdCheckbox>
    <cdDropdown>
      <Value><![CDATA[dropdown_showA]]></Value>
    </cdDropdown>
    <cdRadio>
      <Value><![CDATA[showA]]></Value>
    </cdRadio>
    <checkbox_showA>
      <Value><![CDATA[]]></Value>
    </checkbox_showA>
    <checkbox_showB>
      <Value><![CDATA[]]></Value>
    </checkbox_showB>
    <dropdown_showA>
      <Value><![CDATA[]]></Value>
    </dropdown_showA>
    <dropdown_showB>
      <Value><![CDATA[]]></Value>
    </dropdown_showB>
    <propertyA>
      <Value><![CDATA[]]></Value>
    </propertyA>
    <propertyB>
      <Value><![CDATA[]]></Value>
    </propertyB>
    <radio_showA>
      <Value><![CDATA[]]></Value>
    </radio_showA>
    <radio_showB>
      <Value><![CDATA[]]></Value>
    </radio_showB>
  </Properties>
</Content>