@inherits UmbracoViewPage<CdTest>
@{
	Layout = null;
}
<html>
<head>
</head>
<body>
<pre>
Type of Checkbox Displayer Value: @Model.HideField1.GetType()
Value of Checkbox Displayer: @Model.HideField1

Value of Radio Displayer: @Model.ToggleFields

Value of Select List Displayer: @Model.SelectFields 

</pre>
</body>
</html>