<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4324de5-9cc4-46f1-a441-9d81d978220f" Alias="Page 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Page1</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2025-11-17T22:10:38</CreateDate>
    <NodeName Default="Page 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ea625b2d-ed42-4ad5-b9aa-6f1845cb893d">Page</Template>
  </Info>
  <Properties>
    <cdFalse>
      <Value><![CDATA[1]]></Value>
    </cdFalse>
    <cdRadio>
      <Value><![CDATA[A]]></Value>
    </cdRadio>
    <cdTrue>
      <Value><![CDATA[0]]></Value>
    </cdTrue>
  </Properties>
</Content>