<?xml version="1.0" encoding="utf-8"?>
<Content Key="2bf75a43-7e81-4b61-b05d-32116e717bcf" Alias="Test Displayers" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestDisplayers</Path>
    <Trashed>false</Trashed>
    <ContentType>cdTest</ContentType>
    <CreateDate>2025-09-07T09:41:20</CreateDate>
    <NodeName Default="Test Displayers" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a16c06-bb01-412b-88f9-0a0218cbd91c">CDTest</Template>
  </Info>
  <Properties>
    <field1>
      <Value><![CDATA[]]></Value>
    </field1>
    <field2>
      <Value><![CDATA[]]></Value>
    </field2>
    <field3>
      <Value><![CDATA[]]></Value>
    </field3>
    <hideField1>
      <Value><![CDATA[0]]></Value>
    </hideField1>
    <selectFields>
      <Value><![CDATA[All]]></Value>
    </selectFields>
    <toggleFields>
      <Value><![CDATA[Field 2]]></Value>
    </toggleFields>
  </Properties>
</Content>