<?xml version="1.0" encoding="utf-8"?>
<DataType Key="43b5cde3-9b73-4651-9ee7-bc169a83ac9c" Alias="CD Checkbox - True" Level="1">
  <Info>
    <Name>CD Checkbox - True</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Our.Umbraco.CdCheckbox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": true
}]]></Config>
</DataType>