<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5dad336-8581-48f7-bd38-387a02e50fe0" Alias="CD Test - Hide Field 1 - [Conditional] Checkbox Displayer" Level="1">
  <Info>
    <Name>CD Test - Hide Field 1 - [Conditional] Checkbox Displayer</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Our.Umbraco.CdCheckbox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "labelOff": "Show Field 1",
  "labelOn": "Hide Field 1",
  "showIfChecked": "",
  "showIfUnchecked": "field1",
  "showLabels": true
}]]></Config>
</DataType>