<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2733c601-4270-4982-821c-1983d7b6758d" Alias="CD Test - Select Fields - [Conditional] Dropdown Displayer" Level="1">
  <Info>
    <Name>CD Test - Select Fields - [Conditional] Dropdown Displayer</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Our.Umbraco.CdDropdownFlexible</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "Field 1",
      "show": "field1",
      "hide": "field2,field3"
    },
    {
      "value": "Field 2",
      "show": "field2",
      "hide": "field1,field3"
    },
    {
      "value": "Field 3",
      "show": "field3",
      "hide": "field1,field2"
    },
    {
      "value": "All",
      "show": "field1,field2,field3",
      "hide": ""
    },
    {
      "value": "None",
      "show": "",
      "hide": "field1,field2,field3"
    }
  ]
}]]></Config>
</DataType>