<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ff1134ba-76d0-4c8d-a812-f248c3d7f6d6" Alias="CD dropdown" Level="2">
  <Info>
    <Name>CD dropdown</Name>
    <EditorAlias>Our.Umbraco.CdDropdownFlexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Conditional+Displayers</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "ShowA",
      "show": "dropdown_showA",
      "hide": "dropdown_showB",
      "key": "showA"
    },
    {
      "value": "ShowB",
      "show": "dropdown_showB",
      "hide": "dropdown_showA",
      "key": "showB"
    }
  ]
}]]></Config>
</DataType>