<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c366afad-e493-4a43-a2df-a27e2880578b" Alias="CD Checkbox - Grid Block" Level="1">
  <Info>
    <Name>CD Checkbox - Grid Block</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Our.Umbraco.CdCheckbox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "showIfChecked": "propertyA",
  "showIfUnchecked": "propertyB"
}]]></Config>
</DataType>