<?xml version="1.0" encoding="utf-8"?>
<DataType Key="269ba6d0-de6d-4eeb-8d30-2eae438904e1" Alias="CD Checkbox" Level="1">
  <Info>
    <Name>CD Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Our.Umbraco.CdCheckbox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "showIfChecked": "checkbox_showA",
  "showIfUnchecked": "checkbox_showB"
}]]></Config>
</DataType>