<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e9f1544-1659-4fd6-bffe-2e5fe28de8af" Alias="CD dropdown" Level="1">
  <Info>
    <Name>CD dropdown</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Our.Umbraco.CdDropdownFlexible</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": "key",
  "items": [
    {
      "value": "text",
      "key": "key",
      "show": "dropdown_showA",
      "hide": "dropdown_showB"
    }
  ]
}]]></Config>
</DataType>