<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7f1316d1-aae3-4dbd-a0f6-7bf7e525d2cd" Alias="CD Radio List" Level="2">
  <Info>
    <Name>CD Radio List</Name>
    <EditorAlias>Our.Umbraco.CdRadio</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Conditional+Displayers</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "Show A",
      "show": "radio_showA",
      "hide": "radio_showB",
      "key": "showA"
    },
    {
      "value": "Show B",
      "show": "radio_showB",
      "hide": "radio_showA",
      "key": "showB"
    }
  ],
  "alignHrz": "0",
  "asBtn": "0"
}]]></Config>
</DataType>