<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ecc3938-30f0-4c09-b472-40fb89e458d1" Alias="CD Radio" Level="1">
  <Info>
    <Name>CD Radio</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Our.Umbraco.CdRadio</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": "showB",
  "items": [
    {
      "value": "Show A",
      "key": "showA",
      "show": "radio_showA",
      "hide": "radio_showB"
    },
    {
      "value": "Show B",
      "key": "showB",
      "show": "radio_showB",
      "hide": "radio_showA"
    }
  ],
  "labelsPos": "Right"
}]]></Config>
</DataType>