<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b76db74-eba7-42ff-89ac-bdd6b9326c66" Alias="Page - BlockListA - Block List" Level="1">
  <Info>
    <Name>Page - BlockListA - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1c958b9c-5383-412b-a1b5-4c479b7762eb"
    }
  ]
}]]></Config>
</DataType>