<?xml version="1.0" encoding="utf-8"?>
<DataType Key="613a5943-e29b-44b7-aa4d-143364ffafda" Alias="Page - BlockGridA - Block Grid" Level="1">
  <Info>
    <Name>Page - BlockGridA - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1c958b9c-5383-412b-a1b5-4c479b7762eb",
      "allowAtRoot": true,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>