<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ab4b15a-198c-4d56-bf9c-0a274f622555" Alias="CD Checkbox" Level="2">
  <Info>
    <Name>CD Checkbox</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Conditional+Displayers</Folder>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "checkbox_showA",
  "showIfUnchecked": "checkbox_showB",
  "showLabels": "0"
}]]></Config>
</DataType>