@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<p>Checkbox: @Model.Value("cdCheckbox")</p>
<p>Dropdown: @Model.Value("cdDropdown")</p>
<p>Radio: @Model.Value("cdRadio")</p>
