<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83a1b6b1-ef9a-4442-8cdc-f9daa7abfa09" Alias="CD checkbox - False" Level="1">
  <Info>
    <Name>CD checkbox - False</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Our.Umbraco.CdCheckbox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "showIfChecked": "textA",
  "showIfUnchecked": "textB"
}]]></Config>
</DataType>