<?xml version="1.0" encoding="utf-8"?>
<DataType Key="30ea6461-f330-4466-ab35-839dbb899893" Alias="CD radio" Level="1">
  <Info>
    <Name>CD radio</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Our.Umbraco.CdRadio</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": "B",
  "items": [
    {
      "value": "A",
      "show": "1",
      "hide": "2"
    },
    {
      "value": "B",
      "show": "2",
      "hide": "1"
    }
  ],
  "labelsPos": "Right"
}]]></Config>
</DataType>