name: Our.Umbraco.ConditionalDisplayers - CI

on:
  pull_request:

env:
  CLIENT_PROJECT: ConditionalDisplayers\Client
  SOLUTION: ConditionalDisplayers.sln
  OUTPUT_PATH: .\build-out\

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Fetch all history for all tags and branches            
      
        
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4

      with:
        dotnet-version: '9.x'

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version-file: '${{env.CLIENT_PROJECT}}/package.json'
        cache: 'npm'
        cache-dependency-path: '${{env.CLIENT_PROJECT}}/package-lock.json'       

    - name: Restore NuGet packages
      run: dotnet restore ${{ env.SOLUTION }} --no-cache

    - name: Install Node dependencies
      run: npm ci
      working-directory: ${{env.CLIENT_PROJECT}}

    - name: Build Client
      run: npm run build
      working-directory: ${{env.CLIENT_PROJECT}}

    - name: Build solution
      run: dotnet publish ${{ env.SOLUTION }} --configuration Release --output ${{ env.OUTPUT_PATH }}

    - name: Cache NuGet packages
      uses: actions/cache@v3
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          ${{ runner.os }}-nuget-


    - name: Upload NuGet artifacts
      uses: actions/upload-artifact@v4
      with:
        name: nuget
        path: ${{ env.OUTPUT_PATH }}
